/* Giving our navbar some padding and a background color */

#headline {
    background: teal;
    padding: 20px;
    color: #fff;
}

#navdetail {
    background: white;
    text-align:center
}
.navdetail {
    text-align: left;
}

#bodycolor {
    background: gray;
}

#boxpadding {
    padding: 20px 20px 20px 20px;
    background: white;
}
.h1 { 
    color: teal;
    background: white;
    font: "comic sans ms", cursive, sans-serif;
    padding-right: 20px
}