/* Giving our navbar some padding and a background color */
#bodycolor {
    background: gray;
}

#navdetail {
    background: white;
    text-align:center
}

#headline {
    background: teal;
    margin-left: 20px;
    color: #fff;
}
#img_float {
    float:left;
}
h1 { 
    color: teal;
    font: "comic sans ms", cursive, sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}
#box_detail {
    background: white;
    padding-bottom: 20px;
    margin-left: 20px;
}
hr {
    display: block;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar_bottom {
    color: white;
    background: darkgray;
    text-align:center;
}