
#bodycolor {
    background:#44008B;
}

#navdetail {
    background: white;
    text-align:center
}

#headline {
    background:#9F45B0;
    margin-left: 20px;
    color: #fff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#img_float {
    float:left;
}

h1 { 
    color: #9F45B0;
    font-family: "Comic Sans MS", cursive, sans-serif;
    padding-left: 20px;
    padding-top: 10px;
}
#box_detail {
    background: white;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
hr {
    display: block;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#navbar_bottom {
    color: white;
    background: #E54ED0;
    text-align:center;
    margin-top: 20px;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color:#9F45B0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h3 { 
    color: #9F45B0;
    font-family: "Comic Sans MS", cursive, sans-serif;;
    text-align: center;
}

#img_float_center {
    margin-right: auto;
    margin-left: auto;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

#table_detail {
    background: white;
    margin-left: auto;
    margin-right: auto;
}

#img_box:hover {
    border-style: solid;
    border-color: #9F45B0;
    border-width: 1px;
}